type dummy_service, domain;

type dummy_service_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(dummy_service)


vndbinder_use(dummy_service);
add_service(dummy_service, dummy_service_mng_server);
allow dummy_service dummy_service_mng_server:service_manager find;

binder_call(dummy_service, hwservicemanager)

hal_server_domain(dummy_service, hal_dummy_service)

allow dummy_service servicemanager:binder { call transfer };
